<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mybot">

<xacro:include filename="$(find robot_description)/urdf/mybot/base.urdf.xacro"/>
<xacro:include filename="$(find robot_description)/urdf/mybot/sensor/camera.urdf.xacro"/>
<xacro:include filename="$(find robot_description)/urdf/mybot/sensor/imu.urdf.xacro"/>
<xacro:include filename="$(find robot_description)/urdf/mybot/sensor/laser.urdf.xacro"/>

<xacro:base_xacro length="0.12" radius="0.10" />
<xacro:imu_xacro xyz="0.0 0.0 0.02" />
<xacro:camera_xacro xyz="0.10 0.0 0.075" />
<xacro:laser_xacro xyz="0.0 0.0 0.10" />


</robot>